<%= form_with(model: training, local: true, html: { multipart: true }) do |form| %>
  <% if training.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(training.errors.count, "error") %> prohibited this training from being saved:</h2>

      <ul>
      <% training.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label "Nombre" %>
    <%= form.text_field :name, id: :training_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label "Descripción" %>
    <%= form.text_field :description, id: :training_description, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label "Enlace a YouTube" %>
    <%= form.text_field :videolink, id: :training_videolink, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label "Documento de capacitacion" %>
    <%= form.file_field :docu, id: :product_docu_id, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit "Aceptar", class: "btn btn-success" %>
    <%= link_to "Atrás", "/training", class: "btn btn-primary" %>
  </div>
<% end %>
