<p id="notice"><%= notice %></p>

<h1>Trainings</h1>

<%= link_to 'Crear documento de capacitacion', new_training_path, class: "btn btn-primary" %>

<table class="table-responsive">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripción</th>
      <th>Categoría</th>
      <th>Video</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @trainings.each do |training| %>
      <tr>
        <td><%= training.name %></td>
        <td><%= training.description %></td>
        <td><%= training.training_category.name %></td>
        <td><iframe width="420" height="315" src="<%= training.videolink %>"></iframe></td>
        <td><%= link_to 'Editar', edit_training_path(training) %></td>
        <td><%= link_to 'Eliminar', training, method: :delete, data: { confirm: 'Está seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


