<div class="row">
  <div class="col-lg-10 offset-lg-1">
    <p id="notice"><%= notice %></p>
    
    <h1>Provedores</h1>
    <br>
    <%= link_to 'Crear provedor', new_provider_path %>
    <br>
    <div class="table-responsive">
      <table class="table table-hover table-stripped">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Correo electrónico</th>
            <th>Teléfono</th>
            <th>Dirección</th>
            <th>País</th>
            <th>Ciudad</th>
            <th colspan="2">Opciones</th>
          </tr>
        </thead>
      
        <tbody>
          <% @providers.each do |provider| %>
            <tr>
              <td><%= provider.name %></td>
              <td><%= provider.description %></td>
              <td><%= provider.email %></td>
              <td><%= provider.phone %></td>
              <td><%= provider.address %></td>
              <td><%= provider.country %></td>
              <td><%= provider.city %></td>
              <td><%= link_to 'Editar', edit_provider_path(provider) %></td>
              <td><%= link_to 'Eliminar', provider, method: :delete, data: { confirm: 'Confirma que deseas eliminar este provedor.' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>