<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @office.name %>
</p>

<p>
  <strong>City:</strong>
  <%= @office.city %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @office.phone %>
</p>

<p>
  <strong>Cellphone:</strong>
  <%= @office.cellphone %>
</p>

<p>
  <strong>Cellwsp:</strong>
  <%= @office.cellwsp %>
</p>

<p>
  <strong>Address:</strong>
  <%= @office.address %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @office.lat %>
</p>

<p>
  <strong>Long:</strong>
  <%= @office.long %>
</p>

<p>
  <strong>Email:</strong>
  <%= @office.email %>
</p>

<%= link_to 'Edit', edit_office_path(@office) %> |
<%= link_to 'Back', offices_path %>
