<div class="col-sm-12 padding-right">
  <h2 class="title text-center">Registro de usuario</h2>
    <div class="text-right">
        <button class="btn btn-warning" data-toggle="modal" data-target="#help"><i class="fas fa-question"></i> Ayuda de Registro</button>
    </div>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <p>Los campos con arteristico son opcionales.</p>
    <div class="col-sm-6">
      <div class="form-group">
          <label>Nombre Completo Cliente/Representante Legal:</label>
          <%= f.text_field :name, autofocus: true, class: "form-control", :required => true, :maxlength => 100 %>
      </div>
      <div class="form-group">
          <label>Nombre de Usuario/Nombre de la Empresa:</label>
          <%= f.text_field :namecompany, autofocus: true, class: "form-control", :required => true, :maxlength => 30 %>
      </div>
      <div class="form-group">
          <label>CI Cliente/Representate Legal:</label>
          <%= f.number_field :ci, autofocus: true, class: "form-control", :required => true, :maxlength => 50 %>
      </div>
      <div class="form-group">
          <label>*Nombre para la Factura:</label>
          <%= f.text_field :nameinvoice, autofocus: true, class: "form-control", :maxlength => 100 %>
      </div>
      <div class="form-group">
          <label>*NIT:</label>
          <%= f.number_field :nit, autofocus: true, class: "form-control", :maxlength => 50 %>
      </div>
      <div class="form-group">
          <label>Dirección:</label>
          <%= f.text_area :address, :rows => 7, :cols => 100, autofocus: true, class: "form-control", :required => true, :maxlength => 256 %>
      </div>
   </div>
   <div class="col-sm-6">
      <div class="form-group">
          <label>Departamento:</label>
           <%= f.select(:city, [['Beni'],['Chuquisaca'], ['Cochabamba'], ['La Paz'], ['Oruro'], ['Pando'], ['Potosí'], ['Santa Cruz'], ['Tarija']], {:prompt => 'Selecciona tu ciudad'}, {:class => "form-control", :required => true}) %>
      </div>
      <div class="form-group">
          <label>Teléfono:</label>
          <%= f.number_field :phone, autofocus: true, class: "form-control", :required => true, :maxlength => 50 %>
      </div>
      <div class="form-group">
          <label>Celular:</label>
          <%= f.number_field :cellphone, autofocus: true, class: "form-control", :required => true, :maxlength => 50 %>
      </div>
      <div class="form-group">
          <label>Celular de WhatsApp:</label>
          <%= f.number_field :cellwsp, autofocus: true, class: "form-control", :required => true, :maxlength => 50 %>
      </div>
      <div class="form-group">
          <label>Correo electrónico:</label>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", :required => true %>
      </div>
      <div class="form-group">
          <label>Contraseña:</label>
          <%= f.password_field :password, autocomplete: "off", class: "form-control", :required => true, :maxlength => 16 %>
          <p>Debe ser de 8-16 caracteres y contener al menos una mayúscula, una minúscula y un número.</p>
      </div>
      <div class="form-group">
          <label>Confirmar contraseña:</label>
          <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", :required => true, :maxlength => 16 %>
      </div>
   </div>
   <h4 class="justify">NOTA:</h4>Las imágenes del documento de identidad y/o NIT que serán subidas al Sistema,
        tienen que estar en formato gráfico (JPG, JPEG, PNG, BMP o GIF), son necesarias únicamente
        para aquellos clientes que desean contar con los beneficios y privilegios de
        PROFESIONAL ESPECIALISTA o DISTRIBUIDOR MAYORISTA.
        <br/>
        <br/>
        <div class="col-sm-6">
            <div class="form-group">
                <label>*NIT (Incluir la imagen del certificado de su Número de Identificación Tributaria)</label>
                <center>
                    <%= f.file_field :imagenit, class: "form-control"%>
                </center>
            </div>
        </div>
        <br/>
        <div class="col-sm-6">
            <div class="form-group">
                <label>*CI (Incluir la imagen de su Carnet de Identidad o Pasaporte)</label>
                <center>
                    <%= f.file_field :imageci, class: "form-control" %>
                </center>
            </div>
        </div>
        <center>
            <%= f.submit "Aceptar", class: "btn btn-info" %>
            <a href="/" class="btn btn-default">Cancelar</a>
            <br/>
            <br/>
        </center>
    <%end%>
</div>

<!-- Help Modal -->
<div class="modal fade" id="help" tabindex="-1" role="dialog" aria-labelledby="pictureModal">
    <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <center><h2>Instructivo de Registro</h2></center>
        </div>
        <div class="modal-body">
          <center><i class="fas fa-question" style="font-size: 5.5em;"></i></center>
          <h3 align='justify'>Estas a punto de crear una cuenta en nuestro portal, por favor toma en cuenta las siguientes indicaciones para que ingreses los datos según el tipo de cliente al cual correspondes.
            <br/><br/><b>Minorista (Ventas por unidades  docenas a clientes no frecuentes, omitir datos de rubro)</b> 
            <br/><br/><b>Especialista (Profesionales del rubro; constructores, arquitectos, plomeros, carpinteros)</b>
            <br/><br/><b>Mayorista (Negocios del rubro; Ferreterias, comerciales, supermerados y grandes superficies)</b>
            <br/><br/><b>Cliente DOMUS (Cliente especial con beneficios de descuentos)</b></h3>
        </div>
    </div>
    </div>
</div>
<!-- Help Modal -->