<p id="notice"><%= notice %></p>

<h1>Categorías de capacitaciones</h1>

<%= link_to 'Nueva categoría', new_training_category_path, class: "btn btn-primary" %>

<table class="table-responsive">
  <thead>
    <tr>
      <th>Nombre</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @training_categories.each do |training_category| %>
      <tr>
        <td><%= training_category.name %></td>
        <td><%= link_to 'Editar', edit_training_category_path(training_category) %></td>
        <td><%= link_to 'Eliminar', training_category, method: :delete, data: { confirm: 'Estás seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
