<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
  <center><h2 style="color:#172769;"><strong>FACTURA PROFORMA<strong></h2></center>
  <p>ATENCIÓN. El presente correo, no es una factura real. Es una descripción de los productos adquiridos
  en la plataforma de DOMUS S.R.L.</p>

  <h4 style="color:#172769;"><strong>Datos del Cliente<strong></h4>
  <h5><strong>Nombres y Apellidos:</strong> <%= @order.client.name %></h5>
  <h5><strong>Dirección:</strong> <%= @order.client.address %></h5>
  <h5><strong>Teléfono:</strong> <%= @order.client.phone %></h5>
  <h5><strong>Email:</strong> <%= @order.client.mail %></h5>
  <h5><strong>Nit: </strong> <%= @order.client.nit %></h5>

  <h4 style="color:#172769;"><strong>Datos de la Factura<strong></h4>
  <h5><strong>Nombres y Apellidos:</strong> <%= @order.client.nameinvoice %></h5>
  <h5><strong>NIT:</strong> <%= @order.client.nit %></h5>

  <h4 style="color:#172769;"><strong>Detalle de Productos<strong></h4>
  <div class="table-responsive">
    <table class="table table-stripped table-hover">
      <thead>
        <tr>
          <th>Código</th>
          <th>Descripción</th>
          <th>Cantidad</th>
          <th>Precio unitario</th>
          <th>Imagen</th>
        </tr>
      </thead>

      <tbody>
          <% @order.carts.each do |cart| %>
          <tr>
            <td><%= cart.product_variant.code %></td>
            <td><%= cart.product_variant.description %></td>
            <td><%= cart.quantity %></td>
            <%if cart.role.nil? or cart.role == "Minorista" %>
              <td>Precio: <%if cart.product_variant.offerprice.nil? %>
                            <%= cart.product_variant.price %></td>
                          <%else%>
                            <%= cart.product_variant.offerprice %></td>
                          <%end%>
            <%else%>
              <%if cart.role == "Mayorista" %>
                <td><%= cart.product_variant.wholesaleprice %></td>
              <%end%>
              <%if cart.role == "Especialista" %>
                <td><%= cart.product_variant.specialistprice %></td>
              <%end%>
              <%if cart.role == "Distribuidor" %>
                <td><%= cart.product_variant.importerprice %></td>
              <%end%>
              <%if cart.role == "Bloqueado" %>
                <td><%= "Sin precio, cuenta bloqueada" %></td>
              <%end%>
            <%end%>
            <td><img src="http://api.domusbolivia.com/<%=cart.product_variant.product.picture.url%>" width="120", height="120"></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    </div>

    <h4 style="color:#172769;"><strong>Detalles de Pago y Envío<strong></h4>
      <h5><strong>Tipo de pago:</strong> <%= @order.typepay%></h5>
      <h5><strong>Tipo de envío:</strong> <%= @order.typedelivery%></h5>
        <% if @order.typepay== "Deposito" %>
          <center>
            <%if @order.image.nil? %>
              <h5><strong>No subido</strong></h5>
            <%else%>
              <%= image_tag @order.image, class: "img-thumbnail" %>
            <%end%>
          </center>
        <%end%>
      <% if @order.typedelivery == "Domicilio" %>
        <h5><strong>Transporte:</strong> <%= @order.delivery.name %></h5>
        <h5><strong>Costo:</strong> <%= @order.delivery.cost %></h5>
      <%end%>
  </div>

  <%if !@order.comment.nil?%>
  <h4 style="color:#172769;"><strong>Comentario<strong></h4>
  <h5><strong><%= @order.comment%></strong></h5>
  <%end%>
</body>
</html>
