<%= form_with(model: subcategory, local: true, html: { multipart: true }) do |form| %>
  <% if subcategory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(subcategory.errors.count, "error") %> prohibited this subcategory from being saved:</h2>

      <ul>
      <% subcategory.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label "Nombre" %>
    <%= form.text_field :name, id: :subcategory_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label "Descripción" %>
    <%= form.text_field :description, id: :subcategory_description, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label "Categoría" %>
    <%= form.collection_select :category_id, Category.all, :id, :name, id: :subcategory_category_id, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label "Imagen" %>
    <%= form.file_field :picture, id: :subcategory_picture_id, class: "form-control" %>
  </div>

  <div class="actions">
    <center>
      <%= form.submit "Aceptar", class: "btn btn-success" %>
      <%= link_to "Cancelar", "/subcategorias", class: "btn btn-danger" %>
    </center>
  </div>
<% end %>
