<h1>Subcategorías</h1>
<%= link_to 'Crear subcategoría', new_subcategory_path, class: "btn btn-primary" %>
<div class="table-responsive">
  <table class="table table-hover table-stripped">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Categoría</th>
        <th colspan="1"></th>
      </tr>
    </thead>

    <tbody>
      <% @subcategories.each do |subcategory| %>
        <tr>
          <td><%= subcategory.name %></td>
          <td><%= subcategory.description %></td>
          <td><%= subcategory.category.name %></td>
          <td><%= link_to 'Editar', edit_subcategory_path(subcategory) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
