<%= form_with(model: store, local: true) do |form| %>
  <div class="form-group">
    <%= form.label "Nombre" %>
    <%= form.text_field :name, id: :store_name, class: "form-control", :required => true, :maxlength => 100 %>
  </div>

  <div class="form-group">
    <%= form.label "Descripción" %>
    <%= form.text_area :description, id: :store_description, class: "form-control", :required => true, :maxlength => 256 %>
  </div>

  <div class="form-group">
    <%= form.label "Tipo" %>
    <%= form.select :role, [['Minorista'], ['Mayorista'], ['Especialista'], ['Distribuidor']], {id: :store_role}, {class: "form-control"}  %>
  </div>

  <div class="actions">
    <center>
       <%= form.submit "Aceptar", class: "btn btn-success" %>
       <%= link_to "Cancelar", '/almacenes', class: "btn btn-danger" %>
     </center>
  </div>
<% end %>
