<h1>Cuentas Bancarias</h1>

<%= link_to 'Crear cuenta', new_bank_path, class: "btn btn-primary" %>
<div class="table-responsive">
  <table class="table table-hover table-stripped">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Número de cuenta</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @banks.each do |bank| %>
        <tr>
          <td><%= bank.name %></td>
          <td><%= bank.acount %></td>
          <td><%= link_to 'Editar', edit_bank_path(bank) %></td>
          <td><%= link_to 'Eliminar', bank, method: :delete %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
