<%= form_for  @stock do |form| %>
<%= form.hidden_field :product_id, :value => params[:id_product]%>
<%= form.hidden_field :product_variant_id, :value => params[:id_variant]%>
<div class="field">
  <%= form.label "Cantidad" %>
  <%= form.number_field :quantity, id: :stock_quantity, class: "form-control", :required => true, :maxlength => 100 %>
</div>

<div class="field">
  <%= form.label "Mínimo de cantidad" %>
  <%= form.number_field :limit, id: :stock_limit, class: "form-control", :required => true, :maxlength => 100 %>
</div>
</br>
  <div class="actions">
    <center>
      <%= form.submit "Aceptar", class: "btn btn-success" %>
      <%= link_to "Cancelar", '/productos/' + params[:id_product] + '/variantes', class: "btn btn-danger" %>
    </center>
  </div>
<% end %>
