<%= form_for  @stock do |form| %>

  <%= form.hidden_field :store_id, :value => @store.id %>
  <div class="form-group">
    <%= form.label  :product_id, "Producto" %>
    <%= form.collection_select(:product_id, Product.all, :id, :name, { :prompt => "Selecciona un producto"}, {class: "form-control", required: true})%>
  </div>

  <div class="form-group">
    <%= form.label :product_variant_id, "Variante" %>
    <%= form.grouped_collection_select(:product_variant_id, Product.all, :product_variants, :name, :id, :description, {include_blank: true}, {class: "form-control"})%>
  </div>

  <div class="field">
    <%= form.label "Cantidad" %>
    <%= form.number_field :quantity, id: :stock_quantity, class: "form-control", :required => true, :maxlength => 100 %>
  </div>

  <div class="field">
    <%= form.label "Mínimo de cantidad" %>
    <%= form.number_field :limit, id: :stock_limit, class: "form-control", :required => true, :maxlength => 100 %>
  </div>
</br>
  <div class="actions">
    <center>
      <%= form.submit "Aceptar", class: "btn btn-success" %>
      <%= link_to "Cancelar", '/almacenes/' + @store.id.to_s + '/stock', class: "btn btn-danger" %>
    </center>
  </div>
<% end %>
