<h1>Stock</h1>

<form method="get" action="">
  <div class="row">
      <div class="col-lg-5 offset-lg-7">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Buscar por código de variante" name="search">
          <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
        </div>
      </div>
  </div>
</form>

<%= link_to 'Agregar stock', new_stock_path, class: "btn btn-primary",
data: { turbolinks: false } %>
<div class="table-responsive">
  <table class="table table-stripped table-hover">
    <thead>
      <tr>
        <th>Nombre de Producto</th>
        <th>Código de Variante</th>
        <th>Descripción de Variante</th>
        <th>Cantidad</th>
        <th>Mínimo de cantidad</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @stocks.each do |stock| %>
      <% if stock.quantity <= stock.limit && stock.quantity != 0%>
        <tr bgcolor="#FFFF87">
      <%else%>
        <% if stock.quantity == 0 %>
          <tr bgcolor="#FFA28E">
        <%else%>
          <tr>
        <%end%>
      <%end%>
        <td><%= stock.product.name %></td>
        
        
        <td><%= stock.quantity %></td>
        <td><%= stock.limit %></td>
        <td><%= link_to 'Editar', edit_stock_path(stock), data: { turbolinks: false } %></td>
        <td><%= link_to 'Eliminar', stock, method: :delete %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
