<h1>Stock</h1>
<%= link_to 'Agregar stock', new_stock_path, class: "btn btn-primary",
data: { turbolinks: false } %>
<div class="table-responsive">
  <table class="table table-stripped table-hover">
    <thead>
      <tr>
        <th>Producto</th>
        <th>Variante</th>
        <th>Cantidad</th>
        <th>Mínimo de cantidad</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @stocks.each do |stock| %>
      <% if stock.quantity <= stock.limit && stock.quantity != 0%>
        <tr bgcolor="#FFFF87">
      <%else%>
        <% if stock.quantity == 0 %>
          <tr bgcolor="#FFA28E">
        <%else%>
          <tr>
        <%end%>
      <%end%>
        <td><%= stock.product.name %></td>
        <td><%= stock.product_variant.description %></td>
        <td><%= stock.quantity %></td>
        <td><%= stock.limit %></td>
        <td><%= link_to 'Editar', edit_stock_path(stock), data: { turbolinks: false } %></td>
        <td><%= link_to 'Eliminar', stock, method: :delete %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
