<%= form_with(model: user, local: true) do |f|  %>
    <div class="col-sm-6">
      <div class="form-group">
          <label>Nombre Completo Cliente/Representante Legal:</label>
          <%= f.text_field :name, autofocus: true, class: "form-control", :required => true, :maxlength => 100 %>
      </div>
      <div class="form-group">
          <label>Nombre de Usuario/Nombre de la Empresa:</label>
          <%= f.text_field :namecompany, autofocus: true, class: "form-control", :required => true, :maxlength => 30 %>
      </div>
      <div class="form-group">
          <label>CI Cliente/Representate Legal:</label>
          <%= f.number_field :ci, autofocus: true, class: "form-control", :required => true, :maxlength => 50 %>
      </div>
      <div class="form-group">
          <label>*Nombre para la Factura:</label>
          <%= f.text_field :nameinvoice, autofocus: true, class: "form-control", :maxlength => 100 %>
      </div>
      <div class="form-group">
          <label>*NIT:</label>
          <%= f.number_field :nit, autofocus: true, class: "form-control", :maxlength => 50 %>
      </div>
      <div class="form-group">
          <label>Dirección:</label>
          <%= f.text_area :address, :rows => 5, :cols => 100, autofocus: true, class: "form-control", :required => true, :maxlength => 256 %>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
          <label>Departamento:</label>
           <select id="departamento" class="form-control">
              <option value="Beni">Beni</option>
              <option value="Chuquisaca">Chuquisaca</option>
              <option value="Cochabamba">Cochabamba</option>
              <option value="La Paz">La Paz</option>
              <option value="Oruro">Oruro</option>
              <option value="Pando">Pando</option>
              <option value="Potosi">Potosí</option>
              <option value="Santa Cruz">Santa Cruz</option>
              <option value="Tarija">Tarija</option>
          </select>
      </div>
      <div class="form-group">
          <label>Teléfono:</label>
          <%= f.number_field :phone, autofocus: true, class: "form-control", :required => true, :maxlength => 50 %>
      </div>
      <div class="form-group">
          <label>Celular:</label>
          <%= f.number_field :cellphone, autofocus: true, class: "form-control", :required => true, :maxlength => 50 %>
      </div>
      <div class="form-group">
          <label>Celular de WhatsApp:</label>
          <%= f.number_field :cellwsp, autofocus: true, class: "form-control", :required => true, :maxlength => 50 %>
      </div>
      <div class="form-group">
        <label>*NIT (Incluir la imagen del certificado de su Número de Identificación Tributaria)</label>
        <%= f.file_field :imagenit, class: "form-control"%>
      </div>
       <div class="form-group">
        <label>*CI (Incluir la imagen de su Carnet de Identidad o Pasaporte)</label>
        <%= f.file_field :imagenci, class: "form-control"%>
      </div>
      <div class="form-group">
          <label>Confirmar contraseña:</label>
          <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", :required => true, :maxlength => 16 %>
      </div>
    </div>
      
    <div class="actions">
      <center>
        <%= f.submit "Aceptar", class: "btn btn-info" %>
        <a href="/" class="btn btn-default">Cancelar</a>
      </center>
    </div>
    <% end %>