
<%= form_with(model: user, local: true, html: { multipart: true }) do |form| %>
    <div class="col-sm-4">
      <div class="form-group">
          <label>Nombre Completo</label>
          <%= form.text_field :name, autofocus: true, class: "form-control", :required => true, :maxlength => 100, value: user.name %>
      </div>
      <div class="form-group">
          <label>Nombre de Usuario</label>
          <%= form.text_field :namecompany, autofocus: true, class: "form-control", :required => true, :maxlength => 30, value: user.namecompany %>
      </div>
      <div class="form-group">
          <label>CI Cliente/Representate Legal:</label>
          <%= form.number_field :ci, autofocus: true, class: "form-control", :required => true, :maxlength => 50, value: user.ci %>
      </div>
      <div class="form-group">
          <label>*Nombre para la Factura:</label>
          <%= form.text_field :nameinvoice, autofocus: true, class: "form-control", :maxlength => 100, value: user.nameinvoice%>
      </div>
      <div class="form-group">
          <label>*NIT:</label>
          <%= form.number_field :nit, autofocus: true, class: "form-control", :maxlength => 50, value: user.nit %>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <div class="form-group">
          <label>Dirección:</label>
          <%= form.text_area :address, :rows => 5, :cols => 100, autofocus: true, class: "form-control", :required => true, :maxlength => 256, value: user.address %>
      </div>
          <label>Departamento: <%= user.city%></label>
            <%= form.select(:city, [['Beni'],['Chuquisaca'], ['Cochabamba'], ['La Paz'], ['Oruro'], ['Pando'], ['Potosí'], ['Santa Cruz'], ['Tarija']], {:prompt => 'Selecciona tu ciudad'}, {:class => "form-control"}) %>
      </div>
      <div class="form-group">
          <label>Teléfono:</label>
          <%= form.number_field :phone, autofocus: true, class: "form-control", :required => true, :maxlength => 50, value: user.phone %>
      </div>
      <div class="form-group">
          <label>Celular:</label>
          <%= form.number_field :cellphone, autofocus: true, class: "form-control", :required => true, :maxlength => 50, value: user.cellphone %>
      </div>
      <div class="form-group">
          <label>Celular de WhatsApp:</label>
          <%= form.number_field :cellwsp, autofocus: true, class: "form-control", :required => true, :maxlength => 50, value: user.cellwsp %>
      </div>
    </div>

    <div class="col-sm-4">
<%if user.imagenit.url  != "/images/original/missing.png" %>
        <div class="form-group">
        <label>*NIT (Incluir la imagen del certificado de su Número de Identificación Tributaria)</label>
            <%= form.file_field :imagenit, class: "form-control"%>
            <%= image_tag user.imagenit, class: "img-thumbnail" %>
        </div>
      <%else%>
        <div class="form-group">
            <label>*NIT (Incluir la imagen del certificado de su Número de Identificación Tributaria)</label>
            <%= form.file_field :imagenit, class: "form-control"%>
        </div>
      <%end%>

      <%if user.imageci.url  != "/images/original/missing.png" %>
        <div class="form-group">
            <label>*CI (Incluir la imagen de su Carnet de Identidad o Pasaporte)</label>
            <%= form.file_field :imageci, class: "form-control"%>
            <%= image_tag user.imageci, class: "img-thumbnail" %>
        </div>
      <%else%>
        <div class="form-group">
            <label>*CI (Incluir la imagen de su Carnet de Identidad o Pasaporte)</label>
            <%= form.file_field :imageci, class: "form-control"%>
            <br/>
            <br/>
            <br/>
        </div>
      <%end%>
    </div>
      
    <div class="actions">
      <center>
        <%= form.submit "Aceptar", class: "btn btn-success" %>
        <%= link_to "Atrás", "#", class: "btn btn-primary" %>
      </center>
    </div>
    <% end %>