<div class="row">
  <div class="col-lg-10 offset-lg-1">
    <h1>Habilitar usuario</h1>

    <%= form_for :do_enable, url: "/users/do_enable" do |form| %>
    <%= form.hidden_field :id, :value => @user.id %>
      <div class="form-group">
        <h5><strong>Nombre Completo Cliente/Representante Legal:</strong> <%= @user.name%></h5>
      </div>
      <div class="form-group">
        <h5><strong>Nombre Empresa:</strong>
        <% if @user.namecompany.nil? %>
          <strong>No Registrado</strong></h5>
        <%else%>
          <%= @user.namecompany%></h5>
        <%end%>
      </div>
      <div class="form-group">
        <h5><strong>CI:</strong> <%= @user.ci%></h5>
      </div>
      <div class="form-group">
        <h5><strong>Nombre para la Factura:</strong>
        <% if @user.nameinvoice.nil? %>
          <strong>No Registrado</strong></h5>
        <%else%>
          <%= @user.nameinvoice %></h5>
        <%end%>
      </div>
      <div class="form-group">
        <h5><strong>NIT:</strong>
        <% if @user.nit.nil? || @user.nit.blank? %>
          <strong>No Registrado</strong></h5>
        <%else%>
          <%= @user.nit%></h5>
        <%end%>
      </div>
      <div class="form-group">
        <h5><strong>Dirección:</strong> <%= @user.address%></h5>
      </div>
      <div class="form-group">
        <h5><strong>Correo electrónico:</strong> <%= @user.email%></h5>
      </div>
      <div class="form-group">
        <h5><strong>CI/NIT:</strong></h5>
        <center>
          <%if @user.image == "no" %>
            <h5><strong>No registrado</strong></h5>
          <%else%>
            <%= image_tag @user.image, class: "img-thumbnail"%>
          <%end%>
        </center>
      </div>
      <div class="form-group">
        <h5><strong>Rol:</stong></h5>
        <%= form.select(:role, [['Mayorista (Ferreterias, Comerciales, Supermercados y Grandes Superficies)'], ['Especialista (Constructuras, Arquitectos, Plomeros, Carpinteros)'], ['Distribuidor (Mayoristas especiales y Franquicias)'], ['Minorista (Ventas por unidades o docenas a clientes no frecuentes)']], {}, {:class => "form-control"} ) %>
      </div>
      <div class="actions">
        <center>
          <%= form.submit "Aceptar", class: "btn btn-success" %>
          <%= link_to "Cancelar", '/usuarios', class: "btn btn-danger" %>
            <%= link_to 'Eliminar usuario', '/usuarios/' + @user.id.to_s, method: :delete, class: "btn btn-warning" %>
        </center>
      </div>
    <% end  %>
  </div>
</div>
