<div class="row">
  <div class="col-lg-10 offset-lg-1">
    <h1>Habilitar usuario</h1>

    <%= form_for :do_enable, url: "/users/do_enable" do |form| %>
    <%= form.hidden_field :id, :value => @user.id %>
      <div class="form-group">
        <label>Nombres:</label>
        <%= @user.name%>
      </div>
      <div class="form-group">
        <label>Apellidos:</label>
        <%= @user.lastname%>
      </div>
      <div class="form-group">
        <label>CI:</label>
        <%= @user.ci%>
      </div>
      <div class="form-group">
        <label>NIT:</label>
        <%= @user.nit%>
      </div>
      <div class="form-group">
        <label>Dirección:</label>
        <%= @user.address%>
      </div>
      <div class="form-group">
        <label>Correo electrónico:</label>
        <%= @user.email%>
      </div>
      <div class="form-group">
        <label>CI/NIT:</label>
        <%= image_tag @user.image%>
      </div>
      <div class="form-group">
        <label>Rol:</label>
        <%= form.select(:role, [['Mayorista'], ['Especialista'], ['Distribuidor']], {:class => "form-control"} ) %>
      </div>
      <div class="actions">
        <center>
          <%= form.submit "Aceptar", class: "btn btn-success" %>
          <%= link_to "Cancelar", '/usuarios', class: "btn btn-danger" %>
        </center>
        <%= link_to 'Eliminar usuario', '/usuarios/' + @user.id.to_s, method: :delete, class: "btn btn-warning" %>
      </div>
    <% end  %>
  </div>
</div>
