<header id="header"><!--header-->
	<div class="header-middle"><!--header-middle-->
		<div class="container">
			<div class="row">
				<div class="col-lg-3">
					<div class="logo pull-left">
						<a href="/"><img src="<%= extras.logo.url(:original) %>" alt="" class="img-responsive" /></a>
					</div>
				</div>
				<div class="col-lg-9 header-search">
					<br>
					<div class="row">
						<div class="shop-menu">
							<div class="col-lg-8">
								<ul class="nav navbar-nav">
									<li>
										<div class="search_box">
											<%= form_tag("/search", method: "post") do %>
												<div class="form-group">
													<%= text_field_tag(:name, "", placeholder: "INGRESA TU BÚSQUEDA AQUÍ Y PRESIONA ENTER ", class: "form-control") %>

												</div>
											<% end %>
										</div>
									</li>
								</ul>
							</div>
							<div class="col-lg-4">
								<ul class="nav navbar-nav pull-right">
									<% if current_user != nil %>
										<li>	
											<a class="dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="background-color: #F6F6F6; margin-right: -35px;">
													<%= current_user.namecompany %>&nbsp&nbsp<i class="fa fa-user"></i>
											</a>
											<ul class="dropdown-menu" aria-labelledby="dropdownMenu">
												<li><a href="#"> <%= current_user.role %></a></li>
												<li><a href="/users/<%=current_user.id%>/edit"><i class="fas fa-edit"></i> Editar Datos Personales</a></li>
												<li><a href="/history/<%=current_user.id%>"><i class="fas fa-history"></i> Mi Historial de Compras</a></li>
												<li><%= link_to '<i class="fas fa-sign-out-alt"></i> Cerrar está Sesión (Salir)'.html_safe, destroy_user_session_path, method: :delete %></li>
											</ul>
										</li>
										
									<%else%>
										<li><a href="/users/sign_in" style="background-color: #F6F6F6;"><i class="fas fa-sign-in-alt"></i> Iniciar sesión</a></li>
									<%end%>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div><!--/header-middle-->

	<div class="header-bottom"><!--header-bottom-->
		<div class="container">
			<div class="row">
				<nav class="navbar">
					<div class="container-fluid">
						<ul class="nav navbar-nav collapse navbar-collapse">
							<li><a href="/">Inicio</a></li>
							<li><a href="/about_us">Nosotros</a></li>
							<li class="dropdown"><a href="#">Tienda<i class="fa fa-angle-down"></i></a>
								<ul role="menu" class="sub-menu">
									<li><a href="/product_categories">Productos</a></li>
									<li><a href="/product_subcategories">Subcategorías</a></li>
									<li><a href="/product_offers">Ofertas</a></li>
								</ul>
							</li>
							<li><a href="/services">Servicios</a></li>
							<li><a href="/training_list">Capacitación</a></li>
							<li class="dropdown"><a href="#">Contactos<i class="fa fa-angle-down"></i></a>
								<ul role="menu" class="sub-menu">
									<li><a href="/contact">Contactos</a></li>
									<li><a href="/offices_list">Sucursales</a></li>
									<li><a href="/providers_list">Provedores</a></li>
								</ul>
							</li>
						</ul>
						<ul class="nav navbar-nav navbar-right">
							<% if current_user %>
								<li>
									<a href="/cart/<%=current_user.id%>"><i class="fa fa-shopping-cart"></i>&nbsp&nbsp&nbsp&nbsp&nbsp|</a>
								</i> 
								<li><a href="<%= Contact.first.facebook %>" target="_blank"><img id="facebook" src="/assets/icons/facebook-grey.png"></a>
								<li><a href="<%= Contact.first.twitter %>" target="_blank"><img id="twitter" src="/assets/icons/twitter-grey.png"></a>
								<li><a href="<%= Contact.first.youtube %>" target="_blank"><img id="youtube" src="/assets/icons/youtube-grey.png"></a>
							<% else %>
								<li>
									<a href="/users/sign_in"><i class="fa fa-shopping-cart">
								</i> &nbsp&nbsp&nbsp&nbsp&nbsp|
								<li><a href="https://www.facebook.com/domusbolivia" target="_blank"><i class="fab fa-facebook"></i>
								<li><a href="https://www.facebook.com/domusbolivia" target="_blank"><i class="fab fa-twitter-square"></i>
								<li><a href="https://www.facebook.com/domusbolivia" target="_blank"><i class="fab fa-youtube-square"></i>
							<% end %>
							
						</ul>
					</div>
				</nav>
			</div>
		</div>
	</div><!--/header-bottom-->
</header><!--/header-->

<script type="text/javascript">
	$("#facebook").hover(function(){
	  $(this).attr("src", "/assets/icons/facebook.png");
	  }, function(){	  
	  $(this).attr("src", "/assets/icons/facebook-grey.png");
	});

	$("#twitter").hover(function(){
	  $(this).attr("src", "/assets/icons/twitter.png");
	  }, function(){	  
	  $(this).attr("src", "/assets/icons/twitter-grey.png");
	});

	$("#youtube").hover(function(){
	  $(this).attr("src", "/assets/icons/youtube.png");
	  }, function(){	  
	  $(this).attr("src", "/assets/icons/youtube-grey.png");
	});
</script>