<div class="features_items">
  <h2 class="title text-center"><%= title %></h2>
    <% products.each do |product| %>
      <div class="col-sm-3">
        <a class="product-image-wrapper" href="/product_details/<%= product.id%>" >
          <div class="single-products" style="background-color: white;">
            <div class="productinfo text-center">
              <% if product.picture.url(:original) != "/images/original/missing.png" %>
                <%= image_tag product.picture.url(:original), class: "img-responsive" %>
              <% else %>
                <img src="/assets/domusnoimage.png" class="img-responsive img-rounded">
              <% end %>
              <h4><%= product.name.truncate(20) %></h4>
              <button class="btn btn-domus btn-block"><%= product.description.truncate(20) %></button>
            </div>
          </div>
        </a>
      </div>
    <%end%>
</div>
