<div class="row">
    <div class="col-lg-10 offset-lg-1">
      <script>
      function exportDataToExcel(id, filename = '')
      {
          var downloadurl;
          var fileType = 'application/vnd.ms-excel';
          var tableSelect = document.getElementById(id);
          var dataHTML = tableSelect.outerHTML;
          while (dataHTML.indexOf('á') != -1) dataHTML = dataHTML.replace('á', '&aacute;');
          while (dataHTML.indexOf('é') != -1) dataHTML = dataHTML.replace('é', '&eacute;');
          while (dataHTML.indexOf('í') != -1) dataHTML = dataHTML.replace('í', '&iacute;');
          while (dataHTML.indexOf('ó') != -1) dataHTML = dataHTML.replace('ó', '&oacute;');
          while (dataHTML.indexOf('ú') != -1) dataHTML = dataHTML.replace('ú', '&uacute;');
          while (dataHTML.indexOf('º') != -1) dataHTML = dataHTML.replace('º', '&ordm;');

          filename = filename?filename+'.xls':'reportes_clientes.xls';
          downloadurl = document.createElement("a");
          document.body.appendChild(downloadurl);
         if(navigator.msSaveOrOpenBlob)
           {
              var blob = new Blob(['\ufeff', dataHTML],
               {
                  type:  fileType
              });
             navigator.msSaveOrOpenBlob( blob, filename);
           }
        else
          {
           downloadurl.href = 'data:' + fileType + ', ' + encodeURIComponent(dataHTML);
           downloadurl.download = filename;
           downloadurl.click();
         }
        }
      </script>
      <h1>Clientes</h1>
      <form method="get" action="">
        <div class="row">
            <div class="col-lg-5 offset-lg-4">
              <div class="input-group">
                <h5>Buscar/Filtrar: <br/></h5><select class="form-control" name="search">
                  <option>Todos</option>
                  <option>Cliente </option>
                  <option>Cliente DOMUS </option>
                  <option>Cliente Especialista </option>
                  <option>Cliente Minorista </option>
                </select>
                <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
              </div>
            </div>
        </div>
      </form>
      <button class="btn btn-success" onclick="exportDataToExcel('table-id')">Exportar Excel</button>
      <div class="table-responsive">
        <table class="table table-stripped table-hover" id="table-id">
          <caption>Reportes Clientes</caption>
          <thead>
            <tr>
              <th>Nombre de Cliente</th>
              <th>Nombre Factura</th>
              <th>NIT</th>
              <th>Correo electrónico</th>
              <th>Dirección</th>
              <th>Teléfono</th>
              <th>Rol</th>
              <th>Total Compras</th>
              <th>Total Compras en Bs.</th>
            </tr>
          </thead>

          <tbody>
            <% @clients.each do |client| %>
              <tr>
                <td><%= client.name %></td>
                <td><%= client.nameinvoice %></td>
                <td><%= client.nit %></td>
                <td><%= client.mail %></td>
                <td><%= client.address %></td>
                <td><%= client.phone %></td>
                <td>
                  <% if client.role.nil? or client.role.blank? %>
                    No registrado
                  <%else%>
                    <%= client.role %>
                  <%end%>
                </td>
                <td><%= client.count %></td>
                <td>Bs. <%= client.orders.sum("total")%></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
</div>
