<%= form_with(model: delivery, local: true) do |form| %>
  <div class="form-group">
    <%= form.label "Destino" %>
    <%= form.collection_select(:destination_id, Destination.all, :id, :name_with_city, {}, {class: "form-control"}) %>
  </div>

  <div class="form-group">
    <%= form.label "Nombre de transporte" %>
    <%= form.text_field :name, id: :delivery_name,  class: "form-control", :required => true, :maxlength => 100 %>
  </div>

  <div class="form-group">
    <%= form.label "Teléfono" %>
    <%= form.number_field :phone, id: :delivery_phone,  class: "form-control", :required => true, :maxlength => 100 %>
  </div>

  <div class="form-group">
    <%= form.label "Dirección" %>
    <%= form.text_field :address, id: :delivery_address,  class: "form-control", :required => true, :maxlength => 200 %>
  </div>

  <div class="form-group">
    <%= form.label "Tipo de envío" %>
    <%= form.select :typedelivery, [["Local"], ["Nacional"], ["Internacional"]],  {}, {class: "form-control"} %>
  </div>

  <div class="form-group">
    <%= form.label "Costo (Por Kg)" %>
    <%= form.text_field :cost, id: :delivery_cost,  class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label "Costo Mínimo (1 Kg)" %>
    <%= form.text_field :costmin, id: :delivery_costmin,  class: "form-control"  %>
  </div>


  <div class="form-group">
    <%= form.label "Tipo de entrega" %>
    <%= form.select :shipping, [["Transportista"], ["Domicilio"]],  {}, {class: "form-control"} %>
  </div>

  <div class="actions">
    <center>
      <%= form.submit "Aceptar", class: "btn btn-success" %>
      <%= link_to "Cancelar", "/envios", class: "btn btn-danger" %>
    </center>
  </div>
<% end %>
