<%= form_with(model: delivery, local: true) do |form| %>
  <div class="form-group">
    <%= form.label "Nombre (Lugar - Tipo de transporte)" %>
    <%= form.text_field :name, id: :delivery_name,  class: "form-control", :required => true, :maxlength => 100 %>
  </div>

  <div class="form-group">
    <%= form.label "Destino" %>
    <%= form.collection_select(:destination_id, Destination.all, :id, :name, {}, {class: "form-control"}) %>
  </div>

  <div class="form-group">
    <%= form.label "Medio de envío" %>
    <%= form.collection_select(:transport_id, Transport.all, :id, :name, {}, {class: "form-control"}) %>
  </div>

  <div class="form-group">
    <%= form.label "Tipo de envío" %>
    <%= form.select :typedelivery, [["Local"], ["Nacional"], ["Internacional"]],  {}, {class: "form-control"} %>
  </div>

  <div class="form-group">
    <%= form.label "Costo" %>
    <%= form.text_field :cost, id: :delivery_cost,  class: "form-control"  %>
  </div>

  <div class="actions">
    <center>
      <%= form.submit "Aceptar", class: "btn btn-success" %>
      <%= link_to "Cancelar", "/envios", class: "btn btn-danger" %>
    </center>
  </div>
<% end %>
