<p id="notice"><%= notice %></p>

<p>
  <strong>Country:</strong>
  <%= @industry.country %>
</p>

<p>
  <strong>Origin:</strong>
  <%= @industry.origin %>
</p>

<%= link_to 'Edit', edit_industry_path(@industry) %> |
<%= link_to 'Back', industries_path %>
