<%= form_with(model: order, local: true) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label "Fecha de la orden:" %>
    <p><%= @order.orderdate.strftime("%d-%m-%Y") %></p>
  </div>

  <div class="form-group">
    <%= form.label "Datos del Cliente:" %>
      <p>Nombres y Apellidos: <%= @order.client.name %> <%= @order.client.lastname %></p>
      <p>Dirección: <%= @order.client.address %></p>
      <p>Teléfono: <%= @order.client.phone %></p>
      <p>Email: <%= @order.client.mail %></p>
      <p>Nit: <%= @order.client.nit %></p>
  </div>
  <div class="form-group">
    <%= form.label "Pago y Envio:" %>
      <p>Tipo de pago: <%= @order.typepay%></p>
      <p>Tipo de envio: <%= @order.typedelivery%></p>
      <% if @order.typedelivery == "Domicilio" %>
        <p>Transporte: <%= @order.delivery.name %></p>
        <p>Costo: <%= @order.delivery.cost %></p>
      <%end%>
  </div>
  <div class="form-group">
    <%= form.label "Productos de la orden:" %>
      <% @order.carts.each do |cart| %>
        <p>-> <%= cart.product_variant.description %></p>
        <p><%=cart.product_variant.code %></p>
        <%= image_tag cart.product_variant.product.picture.url %>
        <%if cart.role.nil? or cart.role == "Minorista" %>
          <p>Precio: <%= cart.product_variant.price %></p>
        <%else%>
          <%if cart.role == "Mayorista" %>
            <p>Precio: <%= cart.product_variant.wholesaleprice %></p>
          <%end%>
          <%if cart.role == "Especialista" %>
            <p>Precio: <%= cart.product_variant.specialistprice %></p>
          <%end%>
          <%if cart.role == "Distribuidor" %>
            <p>Precio: <%= cart.product_variant.importerprice %></p>
          <%end%>
        <%end%>
        <p>Cantidad: <%=cart.quantity%>
      <%end%>
  </div>

  <div class="form-group">
    <%= form.label "Estado de la orden:" %>
    <%= form.select :state, [['Preparado'], ['Entregado']], id: :order_state, class: "form-control"  %>
  </div>

  <div class="actions">
    <center>
       <%= link_to "Aceptar", '/ordenes', class: "btn btn-success" %>
       <%= link_to "Cancelar", '/ordenes', class: "btn btn-danger" %>
     </center>
  </div>
<% end %>
