<%= form_with(model: order, local: true) do |form| %>
  <div class="form-group">
    <%= form.label "Fecha de la orden:" %>
    <p><%= @order.orderdate.strftime("%d-%m-%Y") %></p>
  </div>

  <div class="form-group">
    <%= form.label "Datos del Cliente:" %>
      <p>Nombres y Apellidos: <%= @order.client.name %> <%= @order.client.lastname %></p>
      <p>Dirección: <%= @order.client.address %></p>
      <p>Teléfono: <%= @order.client.phone %></p>
      <p>Email: <%= @order.client.mail %></p>
      <p>Nit: <%= @order.client.nit %></p>
  </div>
  <div class="form-group">
    <%= form.label "Pago y Envio:" %>
      <p>Tipo de pago: <%= @order.typepay%></p>
      <p>Tipo de envio: <%= @order.typedelivery%></p>
      <% if @order.typedelivery == "Domicilio" %>
        <p>Transporte: <%= @order.delivery.name %></p>
        <p>Costo: <%= @order.delivery.cost %></p>
      <%end%>
  </div>
  <div class="table-responsive">
    <table class="table table-stripped table-hover">
      <thead>
        <tr>
          <th>Código</th>
          <th>Descripción</th>
          <th>Cantidad</th>
          <th>Precio</th>
          <th>Imagen</th>
        </tr>
      </thead>

      <tbody>
          <% @order.carts.each do |cart| %>
          <tr>
            <td><%= cart.product_variant.code %></td>
            <td><%= cart.product_variant.description %></td>
            <td><%= cart.quantity %></td>
            <%if cart.role.nil? or cart.role == "Minorista" %>
              <td>Precio: <%= cart.product_variant.price %></td>
            <%else%>
              <%if cart.role == "Mayorista" %>
                <td>Precio: <%= cart.product_variant.wholesaleprice %></td>
              <%end%>
              <%if cart.role == "Especialista" %>
                <td>Precio: <%= cart.product_variant.specialistprice %></td>
              <%end%>
              <%if cart.role == "Distribuidor" %>
                <td>Precio: <%= cart.product_variant.importerprice %></td>
              <%end%>
            <%end%>
            <td><%= image_tag cart.product_variant.product.picture.url, width: "120", height: "120" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="form-group">
    <%= form.label "Estado de la orden:" %>
    <%= form.select :state, [['Preparado'], ['Entregado']], id: :order_state, class: "form-control"  %>
  </div>

  <div class="actions">
    <center>
       <%= link_to "Aceptar", '/ordenes', class: "btn btn-success" %>
       <%= link_to "Cancelar", '/ordenes', class: "btn btn-danger" %>
     </center>
  </div>
<% end %>
