<style type="text/css" media="all">
   h4,p {display: inline;}
</style>
<div class="col-sm-12 padding-right">
   <h2 class="title text-center">Proforma de Compras DOMUS</h2>
    Número de orden:<h4> <%=@order.id%></h4>
     <div class="border-panel">
       <% @order.carts.each do |cart|%>
         <div class="panel panel-default">
             <div class="panel-heading">
                 <h2 class="title text-center"><%=cart.product_variant.code%></h2>
             </div>
             <div class="panel-body">
                 <div class="col-sm-4">
                     <%= image_tag cart.product_variant.product.picture.url(:original), heigh: 170, width: 170%>
                 </div>
                 <h4>Nombre Producto:</h4>
                 <p><%=cart.product_variant.product.name%></p><br/><br/>
                 <h4>Descripción:</h4>
                 <p><%=cart.product_variant.description%></p><br/><br/>
                 <h4>Precio Unitario:</h4>
                 <%if cart.product_variant.offerprice.nil?%>
                   <%if current_user.role == 'Mayorista '%>
                       <p>Bs. <%=cart.product_variant.wholesaleprice%></p><br/><br/>
                   <%end%>
                   <%if current_user.role == 'Especialista '%>
                       <p>Bs. <%=cart.product_variant.specialistprice%></p><br/><br/>
                   <%end%>
                   <%if current_user.role == 'Cliente Minorista '%>
                       <p>Bs. <%=cart.product_variant.price%></p><br/><br/>
                   <%end%>
                   <%if current_user.role == 'Cliente DOMUS '%>
                       <p>Bs. <%=cart.product_variant.importerprice%></p><br/><br/>
                   <%end%>
                 <%else%>
                    <p>Bs. <%=cart.product_variant.offerprice%></p><br/><br/>
                 <%end%>
                  <h4>Cantidad:</h4>
                  <p><%=cart.quantity%></p><br/><br/>
                  <h4>Subtotal:</h4>
                  <%if cart.product_variant.offerprice.nil?%>
                    <%if current_user.role == 'Mayorista '%>
                        <p>Bs. <%=cart.quantity*cart.product_variant.wholesaleprice%></p><br/><br/>
                    <%end%>
                    <%if current_user.role == 'Especialista '%>
                        <p>Bs. <%=cart.quantity*cart.product_variant.specialistprice%></p><br/><br/>
                    <%end%>
                    <%if current_user.role == 'Cliente Minorista '%>
                        <p>Bs. <%=cart.quantity*cart.product_variant.price%></p><br/><br/>
                    <%end%>
                    <%if current_user.role == 'Cliente DOMUS '%>
                        <p>Bs. <%=cart.quantity*cart.product_variant.importerprice%></p><br/><br/>
                    <%end%>
                  <%else%>
                     <p>Bs. <%=cart.quantity*cart.product_variant.offerprice%></p><br/><br/>
                  <%end%>
                </div>
             </div>
            <%end%>
      </div>
      <% if (@order.typedelivery == "A domicilio" or @order.typedelivery == "Recoger en transportista") %>
        <h4>Costos de envío: Bs. <%=@order.cost%></h4><br/><br/>
        <h4>Recuerda que los gastos de envio serán considerados en el cobro.</h4><br/><br/>
      <%end%>

      <% if @order.typedelivery == "Recoger en tienda" %>
        <h4>Puedes pasar por tu pedido dentro de 24 horas, a partir de este momento.
            Por favor revisa nuestra dirección y teléfonos, en la sección de <a  href="/contact">Contactos</a>.
            No olvides revisar tu número de pedido, en el historial de compras, para hacer más facil la búsqueda de la entrega, o puedes exportar en PDF los detalles de tú pedido
            dando click  aquí.
        </h4>
      <%end%>

      <%if @order.typepay == "Al momento de la entrega"%>
          <h4>¡Muchas gracias por la confianza! Puedes ponerte en contacto con nosotros o revisar tu historial de compras para ver el estado de tu pedido.</h4>
           <a href="/" class="btn btn-info">Entendido</a>
      <%end%>

      <%if @order.typepay == "Depósito Bancario" %>
          <h4>Para completar tu compra, por favor realiza un depósito a una de las cuentas indicadas:<br/><br/></h4>
          <b><div class="table-responsive">
          <table class="table table-striped table-hover">
              <thead>
                  <th>Entidad Bancaria</th>
                  <th>Número de Cuenta</th>
                  <th>Nombre del Titular</th>
                  <th>Moneda de Cuenta</th>
              </thead>
              <tbody>
              <%@banks.each do |bank|%>
                <tr>
                  <td align="justify">
                      <%=bank.name%>
                  </td>
                  <td align="justify">
                      <%=bank.acount%>
                  </td>
                  <td align="justify">
                      <%=bank.nameaccount%>
                  </td>
                  <td align="justify">
                      <%=bank.typemoney%>
                  </td>
                </tr>
              <%end%>
              </tbody>
            </table>
            </div></b>
              <h4>Posteriormente sube una foto o captura del comprobante para que podamos preparar tu pedido.
                  No te preocupes si esta pestaña se cierra, puedes volver a este punto, buscando en tu historial de compras
                  el NÚMERO DE ORDEN <%=@order.id%>.
              </h4>
              <br/>
              <br/>
          <center>
              <%= form_for :do_file, url: "/order/do_file" do |f|%>
              <%= f.hidden_field :id, :value => @order.id %>
              <label>Subir depósito: </label>
                <%= f.file_field :deposit, id: :order_deposit_id, class: "form-control" %>
                <br/>
                <%= f.button :submit,  class: "btn btn-info" do %>
                    <i class="fas fa-piggy-bank"></i> Aceptar
                <% end %>
              <%end%>
          </center>
      <%end%>

      <%if @order.typepay == "Tarjeta crédito o débito"%>
        <center>
            <a  href="/pay/<%=@order.id%>" type="button" class="btn btn-info"><i class="fas fa-credit-card"></i> Pagar</a>
        </center>
      <%end%>
</div>
