<h1>Ordenes de productos</h1>

<form method="get" action="">
  <div class="row">
      <div class="col-lg-5 offset-lg-7">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Buscar por número o estado de orden" name="search">
          <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
        </div>
      </div>
  </div>
</form>
<br/>
<br/>
<div class="table-responsive">
  <table class="table table-stripped table-hover">
    <thead>
      <tr>
        <th>Número de orden</th>
        <th>Fecha de la orden</th>
        <th>Cliente</th>
        <th>Delivery</th>
        <th>Estado</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @orders.each do |order| %>
        <%if order.state == "Rechazado"%>
          <tr bgcolor="#FFA28E">
        <%else%>
        <tr>
        <%end%>
          <td><%= order.id %></td>
          <td><%= order.orderdate.strftime("%d-%m-%Y") %></td>
          <td><%= order.client.name %></td>
          <td><%= order.delivery.name %></td>
          <td><%= order.state %></td>
          <td><%= link_to 'Ver', '/ordenes/' + order.id.to_s + '/editar'%></td>
          <td><%= link_to 'Eliminar', order, method: :delete %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
