<h1>Ordenes de productos</h1>
<div class="table-responsive">
  <table class="table table-stripped table-hover">
    <thead>
      <tr>
        <th>Número de orden</th>
        <th>Fecha de la orden</th>
        <th>Cliente</th>
        <th>Delivery</th>
        <th>Estado</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @orders.each do |order| %>
        <tr>
          <td><%= order.id %></td>
          <td><%= order.orderdate.strftime("%d-%m-%Y") %></td>
          <td></td>
          <td><%= order.delivery.name %></td>
          <% if order.state.nil? %>
          <td>Nuevo</td>
          <%else%>
          <td><%= order.state %></td>
          <%end%>
          <td><%= link_to 'Ver', '/ordenes/' + order.id.to_s + '/editar'%></td>
          <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
