<div class="row">
    <div class="col-lg-10 offset-lg-1">
      <h1>Reportes de Ordenes</h1>

      <form class="form-inline" method="get" action="">
        <div class="form-group">
          <label>Desde: <br/></label>
          <input type="date" name="fechaInicio" class="form-control" value="<%= @fechaInicio %>"/>
        </div>
        <div class="form-group">
          <label>Hasta: <br/></label>
          <input type="date" name="fechaFin" class="form-control" value="<%= @fechaFin %>"/>
        </div>
        <div class="form-group">
          <label><br/><br/></label>
          <button type="submit" class="btn btn-default">Visualizar</button>
        </div>
      </form>
      <br/>
      <br/>
      <script type="text/javascript" charset="utf-8">
        $(function () {

        Highcharts.chart('container', {

            chart: {
                type: 'column'
            },

            title: {
                text: 'Ordenes por forma de pago y entrega'
            },

            xAxis: {
                categories: ['Tarjeta', 'Contraentrega', 'Deposito']
            },

            yAxis: {
                allowDecimals: false,
                min: 0,
                title: {
                    text: 'Número de ordenes'
                }
            },

            tooltip: {
                formatter: function () {
                    return '<b>' + this.x + '</b><br/>' +
                        this.series.name + ': ' + this.y + '<br/>' +
                        'Total: ' + this.point.stackTotal;
                }
            },

            plotOptions: {
                column: {
                    stacking: 'normal'
                }
            },

            series: [{
                name: 'Domicilio',
                data: [<%=@domicilio_tarjeta%>, <%=@domicilio_contraentrega%>, <%=@domicilio_deposito%>],
                stack: 'male'
            }, {
                name: 'Tienda',
                data: [<%=@tienda_tarjeta%>, <%=@tienda_contraentrega%>, <%=@tienda_deposito%>],
                stack: 'female'
            }]
        });
        });
      </script>

      <div id="container" style="min-width: 310px; max-width: 800px; height: 400px; margin: 0 auto"></div>

      <h1>Resumen anual de Ordenes</h1>

      <form class="form-inline" method="get" action="">
        <%=select_year(2018, start_year: 2018, end_year: 2050)%>
        <div class="form-group">
          <label><br/><br/></label>
          <button type="submit" class="btn btn-default">Visualizar</button>
        </div>
      </form>


      <script type="text/javascript" charset="utf-8">
        $(function () {

        Highcharts.chart('graph', {
            chart: {
                type: 'spline'
            },
            title: {
                text: 'Demanda de Ordenes por mes'
            },
            xAxis: {
                categories: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio',
                    'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre']
            },
            yAxis: {
                title: {
                    text: 'Cantidad'
                }
            },
            tooltip: {
                crosshairs: true,
                shared: true
            },
            plotOptions: {
                spline: {
                    marker: {
                        radius: 4,
                        lineColor: '#666666',
                        lineWidth: 1
                    }
                }
            },
            series: [{
                name: 'Tarjeta',
                marker: {
                    symbol: 'square'
                },
                data: <%= raw @array_tarjeta%>

            }, {
                name: 'Contraentrega',
                marker: {
                    symbol: 'diamond'
                },
                data: <%= raw @array_contraentrega %>
            },
            {
                name: 'Depósito',
                marker: {
                    symbol: 'circle'
                },
                data: <%= raw @array_deposito %>
          }]
        });
        });
      </script>

      <div id="graph" style="min-width: 310px; max-width: 800px; height: 400px; margin: 0 auto"></div>
    </div>
</div>
