<p id="notice"><%= notice %></p>

<p>
<<<<<<< HEAD
  <strong>Reserve:</strong>
  <%= @order.reserve %>
</p>

<p>
=======
>>>>>>> 3d075932b78a3d541d64c6b150d72419e6315be4
  <strong>Client:</strong>
  <%= @order.client %>
</p>

<p>
  <strong>Confirmed:</strong>
  <%= @order.confirmed %>
</p>

<<<<<<< HEAD
=======
<p>
  <strong>Reservedate:</strong>
  <%= @order.reservedate %>
</p>

>>>>>>> 3d075932b78a3d541d64c6b150d72419e6315be4
<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
