<%= form_with(model: contact, local: true) do |form| %>
  <% if contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
      <% contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label "Teléfonos" %>
    <%= form.text_field :phone, id: :contact_phone, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label "Dirección" %>
    <%= form.text_field :address, id: :contact_address, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label "Correo electrónico" %>
    <%= form.text_field :email, id: :contact_email, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label "Latitud" %>
    <%= form.text_field :lat, id: :contact_lat, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label "Longitud" %>
    <%= form.text_field :long, id: :contact_long, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label "Facebook" %>
    <%= form.text_field :facebook, id: :contact_facebook, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label "Twitter" %>
    <%= form.text_field :twitter, id: :contact_twitter, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label "Youtube" %>
    <%= form.text_field :youtube, id: :contact_youtube, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label "Introducción de nosotros" %>
    <%= form.text_area :about, id: :contact_about, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label "Misión" %>
    <%= form.text_area :mission, id: :contact_mission, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label "Visión" %>
    <%= form.text_area :vision, id: :contact_vision, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label "Imagen" %>
    <%= form.file_field :picture, id: :picture, class: "form-control" %>
  </div>

  <div class="actions">
    <center>
      <%= form.submit "Aceptar", class: "btn btn-success" %>
    </center>
  </div>
<% end %>
