<div class="row">
    <div class="col-lg-10 offset-lg-1">
      <script>
      function exportDataToExcel(id, filename = '')
      {
          var downloadurl;
          var fileType = 'application/vnd.ms-excel';
          var tableSelect = document.getElementById(id);
          var dataHTML = tableSelect.outerHTML;
          while (dataHTML.indexOf('á') != -1) dataHTML = dataHTML.replace('á', '&aacute;');
          while (dataHTML.indexOf('é') != -1) dataHTML = dataHTML.replace('é', '&eacute;');
          while (dataHTML.indexOf('í') != -1) dataHTML = dataHTML.replace('í', '&iacute;');
          while (dataHTML.indexOf('ó') != -1) dataHTML = dataHTML.replace('ó', '&oacute;');
          while (dataHTML.indexOf('ú') != -1) dataHTML = dataHTML.replace('ú', '&uacute;');
          while (dataHTML.indexOf('º') != -1) dataHTML = dataHTML.replace('º', '&ordm;');

          filename = filename?filename+'.xls':'reporte_productos_vendidos.xls';
          downloadurl = document.createElement("a");
          document.body.appendChild(downloadurl);
         if(navigator.msSaveOrOpenBlob)
           {
              var blob = new Blob(['\ufeff', dataHTML],
               {
                  type:  fileType
              });
             navigator.msSaveOrOpenBlob( blob, filename);
           }
        else
          {
           downloadurl.href = 'data:' + fileType + ', ' + encodeURIComponent(dataHTML);
           downloadurl.download = filename;
           downloadurl.click();
         }
        }
      </script>
      <h1>Productos vendidos</h1>
      <form method="get" action="">
        <div class="row">
            <div class="col-lg-5 offset-lg-4">
              <div class="input-group">
                <h5>Order por: <br/></h5>
                <select class="form-control" name="ordenar">
                  <option>Todos</option>
                  <option>Código de Variante</option>
                  <option>Cantidad (mayor a menor)</option>
                  <option>Cantidad (menor a mayor)</option>
                  <option>Total Ventas</option>
                </select>
                <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
              </div>
            </div>
        </div>
      </form>
      <br/>
      <form method="get" action="">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
              <div class="input-group">
                <h5>Buscar/Filtrar: <br/></h5>
                <input type="text" class="form-control" placeholder="Buscar por Categoría, Subcategoría y Código de Variante" name="search">
                <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
              </div>
            </div>
        </div>
      </form>
      <br/>
      <button class="btn btn-success" onclick="exportDataToExcel('table-id')">Exportar Excel</button>
      <div class="table-responsive">
      <div class="table-responsive">
        <table class="table table-stripped table-hover" id="table-id">
          <thead>
            <tr>
              <th>Código de Variante</th>
              <th>Descripción</th>
              <th>Categoría</th>
              <th>Cantidad</th>
              <th>Precio Promedio</th>
              <th>Total en Bs.</th>
              <th>Total Ventas</th>
              <th>En oferta</th>
              <th colspan="1"></th>
            </tr>
          </thead>

          <tbody>
            <% @solds.each do |sold| %>
              <tr>
                <td><%= sold.product_variant.code %></td>
                <td><%= sold.product_variant.description.truncate(100) %></td>
                <td><%= sold.product_variant.product.category.name %></td>
                <td><%= sold.quantity %></td>
                <td><%= (sold.product_variant.price + sold.product_variant.wholesaleprice + sold.product_variant.specialistprice + sold.product_variant.importerprice)/4 %></td>
                <td>Bs. <%= sold.total %></td>
                <td><%= sold.total_sold %></td>
                <td><%= sold.product_variant.product.in_offer%></td>
                <td><%= link_to 'Ver', '/reportes/productos_vendidos/' + sold.product_variant_id.to_s %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
</div>
