<%= form_with(model: product_variant, local: true, html: { multipart: true }) do |form| %>
  <%= form.hidden_field :product_id, :value => @product.id %>

  <div class="form-group">
    <%= form.label "Precio" %>
    <%= form.text_field :price, id: :product_variant_price, class: "form-control", :required => true %>
  </div>

  <div class="form-group">
    <%= form.label "Precio para especialista" %>
    <%= form.text_field :specialistprice, id: :product_variant_specialistprice, class: "form-control", :required => true %>
  </div>

  <div class="form-group">
    <%= form.label "Precio para minorista" %>
    <%= form.text_field :wholesaleprice, id: :product_variant_wholesaleprice, class: "form-control", :required => true %>
  </div>

  <div class="form-group">
    <%= form.label "Precio para cliente DOMUS" %>
    <%= form.text_field :importerprice, id: :product_variant_importerprice, class: "form-control", :required => true %>
  </div>

  <div class="form-group">
    <%= form.label "Descripción" %>
    <%= form.text_field :description, id: :product_variant_description, class: "form-control", :required => true, :maxlength => 256 %>
  </div>

  <div class="form-group">
    <%= form.label "Código de referencia" %>
    <%= form.text_field :code, id: :product_variant_code, class: "form-control", :required => true, :maxlength => 50 %>
  </div>

  <div class="form-group">
    <%= form.label "Peso en Kg" %>
    <%= form.text_field :weight, id: :product_variant_weight, class: "form-control", :required => true %>
  </div>

  <div class="form-group">
    <%= label_tag(:offer_price, "Precio de oferta (Opcional)") %>
    <%= form.number_field :offerprice, id: :product_variant_offerprice, class: "form-control" %>
  </div>

  <div class="actions">
   <center>
      <%= form.submit "Aceptar", class: "btn btn-success" %>
      <%= link_to "Cancelar", '/productos/' + @product.id.to_s + '/variantes', class: "btn btn-danger" %>
    </center>
  </div>
<% end %>
