<%= form_with(model: product_variant, local: true) do |form| %>
  <%= form.hidden_field :product_id, :value => @product.id %>

  <div class="form-group">
    <%= form.label "Precio" %>
    <%= form.text_field :price, id: :product_variant_price, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label "Precio para especialista" %>
    <%= form.text_field :specialistprice, id: :product_variant_specialistprice, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label "Precio para mayorista" %>
    <%= form.text_field :wholesaleprice, id: :product_variant_wholesaleprice, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label "Descripción" %>
    <%= form.text_field :description, id: :product_variant_description, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label "Código de referencia" %>
    <%= form.text_field :code, id: :product_variant_code, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label "Reposición" %>
    <%= form.check_box :reposition, id: :product_variant_reposition %>
  </div>

  <div class="form-group">
    <%= form.label "Día de Reposición" %>
    <%= form.date_field :reposition_date, id: :product_variant_date_reposition %>
  </div>

  <div class="form-group">
    <%= label_tag(:offer_price, "Precio de oferta (Opcional)") %>
    <%= form.number_field :offer_price, id: :product_variant_offer_price, class: "form-control" %>
  </div>

  <div class="actions">
   <center>
      <%= form.submit "Aceptar", class: "btn btn-success" %>
      <%= link_to "Cancelar", '/productos/' + @product.id.to_s + '/variantes', class: "btn btn-danger" %>
    </center>
  </div>
<% end %>
