<h1><center><%= @product.name %> - Variantes</center></h1>
<%= link_to 'Nueva variante', '/productos/' + @product.id.to_s + '/product_variants/new', class: "btn btn-primary" %>
<div class="table-responsive">
  <table class="table table-hover table-stripped">
    <thead>
      <tr>
        <th>Código de referencia</th>
        <th>Descripción</th>
        <th>Precio</th>
        <th>Precio cliente DOMUS</th>
        <th>Precio especialista</th>
        <th>Precio minorista</th>
        <th>En oferta?</th>
        <th>Precio en oferta</th>
        <th>Disponible</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @product_variants.each do |variant| %>
        <tr>
          <td><%= variant.code %></td>
          <td><%= variant.description %></td>
          <td>Bs. <%= variant.price %></td>
          <td>Bs. <%= variant.importerprice %></td>
          <td>Bs. <%= variant.specialistprice %></td>
          <td>Bs. <%= variant.wholesaleprice %></td>
          <td>
            <% if variant.offerprice.nil? %>
              No
            <% else %>
              Sí
            <% end %>
          </td>
          <td>
            <% if variant.offerprice.nil? %>
              No hay oferta
            <% else %>
              <%= variant.offerprice %>
            <% end %>
          </td>
          <td>
            <% if variant.stock.nil?%>
            No
            <%else%>
            Sí
            <%end%>
          <td><%= link_to 'Editar', '/productos/' + @product.id.to_s + '/product_variants/' + variant.id.to_s + '/edit' %></td>
          <td><%= link_to 'Eliminar', variant, method: :delete %></td>
          <td>
            <% if variant.stock.nil?%>
              <%= link_to 'Stock', '/stocks/new/' + @product.id.to_s + '/' + variant.id.to_s %>
            <%else%>
             <%= link_to 'Stock', '/stocks/' + variant.stock.id.to_s + '/edit/' + @product.id.to_s + '/' + variant.id.to_s %>
            <%end%>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= link_to 'Ir a Productos', '/productos' , class: "btn btn-warning" %>
