<style type="text/css" media="all">
   h4,p {display: inline;}
</style>
<script>
    function initMap1() {
        var latitud = parseFloat(document.getElementById('map1').getAttribute("data-lat"));
        var longitud = parseFloat(document.getElementById('map1').getAttribute("data-lng"));
        var uluru = {lat: latitud, lng: longitud };
        var map = new google.maps.Map(document.getElementById('map1'), {
        zoom: 17,
        center: uluru
        });
        var marker = new google.maps.Marker({
        position: uluru,
        map: map
        });
    }
    function initMap2() {
        var latitud = parseFloat(document.getElementById('map2').getAttribute("data-lat"));
        var longitud = parseFloat(document.getElementById('map2').getAttribute("data-lng"));
        var uluru = {lat: latitud, lng: longitud };
        var map = new google.maps.Map(document.getElementById('map2'), {
        zoom: 17,
        center: uluru
        });
        var marker = new google.maps.Marker({
        position: uluru,
        map: map
        });
    }
    function initMap3() {
        var latitud = parseFloat(document.getElementById('map3').getAttribute("data-lat"));
        var longitud = parseFloat(document.getElementById('map3').getAttribute("data-lng"));
        var uluru = {lat: latitud, lng: longitud };
        var map = new google.maps.Map(document.getElementById('map3'), {
        zoom: 17,
        center: uluru
        });
        var marker = new google.maps.Marker({
        position: uluru,
        map: map
        });
    }
    function initMap4() {
        var latitud = parseFloat(document.getElementById('map4').getAttribute("data-lat"));
        var longitud = parseFloat(document.getElementById('map4').getAttribute("data-lng"));
        var uluru = {lat: latitud, lng: longitud };
        var map = new google.maps.Map(document.getElementById('map4'), {
        zoom: 17,
        center: uluru
        });
        var marker = new google.maps.Marker({
        position: uluru,
        map: map
        });
    }
    function initMap5() {
        var latitud = parseFloat(document.getElementById('map5').getAttribute("data-lat"));
        var longitud = parseFloat(document.getElementById('map5').getAttribute("data-lng"));
        var uluru = {lat: latitud, lng: longitud };
        var map = new google.maps.Map(document.getElementById('map5'), {
        zoom: 17,
        center: uluru
        });
        var marker = new google.maps.Marker({
        position: uluru,
        map: map
        });
    }
    function initMap6() {
        var latitud = parseFloat(document.getElementById('map6').getAttribute("data-lat"));
        var longitud = parseFloat(document.getElementById('map6').getAttribute("data-lng"));
        var uluru = {lat: latitud, lng: longitud };
        var map = new google.maps.Map(document.getElementById('map6'), {
        zoom: 17,
        center: uluru
        });
        var marker = new google.maps.Marker({
        position: uluru,
        map: map
        });
    }
</script>

<div class="row">
    <div class="col-lg-12 padding-right"> 
        <div class="features_items">
            <h2 class="title text-center">Tiendas y Sucursales</h2>
            <div class="row">
                <% @offices.each do |office| %>
                <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAy4PzSIG77OtqMciXyhMuTD9tQSICh0LM&callback=initMap<%= office.id %>">
                </script>
                <div class="col-lg-7">
                    <h4>Nombre: </h4><p><%= office.name %></p>
                    <div id="map<%= office.id %>" style="width: 500px; height: 400px;" data-lat="<%= office.lat %>" data-lng="<%= office.long %>"></div>
                    <br/>
                    <br/>
                </div>
                <div class="col-lg-4">
                    <br>
                    <h4>Ciudad: </h4><p><%= office.city %></p>
                    <br/>
                    <br/>
                    <h4>Dirección: </h4><p><%= office.address %></p>
                    <br/>
                    <br/>
                    <h4>Celular: </h4><p><%= office.cellphone %></p>
                    <br/>
                    <br/>
                    <h4>WhatsApp: </h4><p><%= office.cellwsp %></p>
                    <br/>
                    <br/>
                    <h4>Correo electrónico: </h4><p><%= office.email %></p>
                    <img class="img-responsive" src="<%= office.picture %>" alt="" />
                    <br/>
                    <br/>
                </div>
                <% end %>
            </div>
        </div>
    </div>
</div>
