<%= form_with(model: destination, local: true) do |form| %>
  <div class="form-group">
    <%= form.label "Departamento o Ciudad" %>
    <%= form.text_field :name, id: :destination_name, class: "form-control", :required => true, :maxlength => 100  %>
  </div>

  <div class="form-group">
    <%= form.label "Provincia" %>
    <%= form.text_field :city, id: :destination_city, class: "form-control", :required => true, :maxlength => 100 %>
  </div>

  <div class="form-group">
    <%= form.label "País" %>
    <%= form.text_field :country, id: :destination_country, class: "form-control", :required => true, :maxlength => 100 %>
  </div>
  <div class="form-group">
    <%= form.label "Habilitado para pagar en contraentrega?" %>
    <%= form.check_box :cash, id: :destination_cash %>
  </div>
  <div class="actions">
    <center>
      <%= form.submit "Aceptar", class: "btn btn-success" %>
      <%= link_to "Cancelar", "/destinos", class: "btn btn-danger" %>
    </center>
  </div>
<% end %>
