<h1>Productos</h1>

<form method="get" action="">
  <div class="row">
      <div class="col-lg-5 offset-lg-7">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Buscar por código" name="search">
          <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
        </div>
      </div>
  </div>
</form>

<%= link_to 'Crear producto', new_product_path, class: "btn btn-primary" %>
<div class="table-responsive">
  <table class="table table-stripped table-hover">
    <thead>
      <tr>
        <th>Código</th>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Unidad de medida</th>
        <th>Categoría</th>
        <th>Subcategoría</th>
        <th>Proveedor</th>
        <th>Fabricante</th>
        <th>En oferta</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @products.each do |product| %>
        <tr>
          <td><%= product.code %></td>
          <td><%= product.name %></td>
          <td><%= product.description.truncate(100) %></td>
          <td><%= product.measure.name %></td>
          <td><%= product.category.name %></td>
          <td><%= product.subcategory.name %></td>
          <td><%= product.provider.name %></td>
          <td><%= product.manufacturer.name %></td>
          <td><%= product.in_offer %></td>
          <td><%= link_to 'Variantes', '/productos/' + product.id.to_s + '/variantes' %></td>
          <td><%= link_to 'Editar', edit_product_path(product) %></td>
          <td><%= link_to 'Eliminar', product, method: :delete %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
