<div class="row">
  <div class="col-lg-10 offset-lg-1">
    <p id="notice"><%= notice %></p>
  
    <h1>Unidades de medida</h1>
    <br>
    <%= link_to 'Crear medida', new_measure_path %>
    <br>
    <div class="table-responsive">
      <table class="table table-hover table-stripped">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Abreviación</th>
            <th colspan="2">Opciones</th>
          </tr>
        </thead>
      
        <tbody>
          <% @measures.each do |measure| %>
            <tr>
              <td><%= measure.name %></td>
              <td><%= measure.abbreviation %></td>
              <td><%= link_to 'Editar', edit_measure_path(measure) %></td>
              <td><%= link_to 'Eliminar', measure, method: :delete, data: { confirm: 'Confirma que deseas eliminar esta medida.' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>  
    </div>
</div>
