<div class="row">
  <div class="col-lg-10 offset-lg-1">
    <p id="notice"><%= notice %></p>
    
    <h1>Fabricantes</h1>
    <br>
    <%= link_to 'Crear fabricante', new_manufacturer_path %>
    <br>
    <div class="table-responsive">
      <table class="table table-hover table-stripped">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>País</th>
            <th>Ciudad</th>
            <th>Correo electrónico</th>
            <th>Teléfono</th>
            <th colspan="2">Opciones</th>
          </tr>
        </thead>
      
        <tbody>
          <% @manufacturers.each do |manufacturer| %>
            <tr>
              <td><%= manufacturer.name %></td>
              <td><%= manufacturer.description %></td>
              <td><%= manufacturer.country %></td>
              <td><%= manufacturer.city %></td>
              <td><%= manufacturer.email %></td>
              <td><%= manufacturer.phone %></td>
              <td><%= link_to 'Editar', edit_manufacturer_path(manufacturer) %></td>
              <td><%= link_to 'Eliminar', manufacturer, method: :delete, data: { confirm: 'Confirma que deseas eliminar este fabricante.' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
